{
    "$schema": "https://raw.githubusercontent.com/infection/infection/refs/heads/master/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true,
        "UnwrapFinally": false,
        "ReturnRemoval": false,
        "Coalesce": false,
        "GreaterThan": false,
        "UnwrapTrim": false,
        "UnwrapArrayMap": false,
        "IncrementInteger": false,
        "DecrementInteger": false,
        "MatchArmRemoval": false,
        "PregMatchRemoveCaret": false,
        "PregMatchRemoveDollar": false
    },
    "logs": {
        "text": ".build/infection.log"
    },
    "minMsi": 82,
    "minCoveredMsi": 82,
    "timeout": 60,
    "phpUnit": {
        "configDir": "."
    }
}
