parameters:
    level: 9
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Method .*itRoundTripsSimpleData\(\) has parameter \$expected with no value type specified in iterable type array\.#'
